<main>

  {{!-- <h1>MediDesk</h1> --}}
  {{!-- <br/> --}}
  {{!-- <p>
      Hey, I have created this website with the intention to find people on the server. Do you want to help me do it? Just enter the first or last name that you want to search for in the search box, hit Go and watch the magic happen. Go on, give it a try.
  </p> --}}

  <br/> 

  <div class="container" style="padding:16px">
    <h2 style="margin-left:138px;">{{title}}</h2>
  </div>


  {{#each reservationList}}
  <a href="/reservation/get/{{this._id}}" class="card_link">
  <div class="card">
    <div class="container" style="padding:16px">
      {{!-- <p>
        <span><b>Booking ID: {{this._id}}</b></span><br>
        <span>Doctor: Dr. {{this.doctor.name}}</span><br>
        <span>Date: {{this.date_formatted}}</span><br>
        <span>Status: {{this.status}}</span>
    </p> --}}
    
    <table style="color:darkslategray">
      <tr>
        <td style="width: 30%"><b>Booking ID:</b></td>
        <td><b>#{{this._id}}</b></td>
      </tr>
      <tr>
        <td>Doctor:</td>
        <td>{{this.doctor.name}}</td>
      </tr>
      <tr>
        <td>Date:</td>
        <td>{{this.date_formatted}}</td>
      </tr>
      <tr>
        <td>Hospital:</td>
        <td><span class="status-{{this.status}}">{{this.hospital.name}}</span></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td style="background-color:lightgreen"> {{this.status}}</td>
      </tr>
      
    </table>
    
    </div>
  </div>
  </a>
  {{/each}}

  {{#unless reservationList}}
    <div class="card">
      <p>No records found</p>
    </div>
  {{/unless}}

</main>