<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Appointment is confirmed.</title>
    <link rel="stylesheet" href="/public/stylesheets/formPage.css">
    

</head>
<body>
  <h1 style="margin-left: 450px;">Appointment Details</h1>
<main>
  <div style="margin-left: 450px;">
    Hello {{user.userName}} !<br><br>Your Appointment number is #{{appointment._id}}<br><br>
  </div>
  <div class="card">
    <div class="container" style="padding:16px">
  <table>
      <tr>
          <td>Name:</td>
          <td>{{user.userName}}</td>
      </tr>
      <tr>
          <td>Patient ID:</td>
          <td>#{{user._id}}</td>
      </tr>
      <tr>
          <td>Doctor's Name:</td>
          <td>{{doctor.name}}</td>
      </tr>
      <tr>
          <td>Hospital Name:</td>
          <td>{{hospital.hospital_name}}</td>
      </tr>
      <tr>
          <td>Date:</td>
          <td>{{appointment.date}}</td>
      </tr>
      <tr>
          <td>Status:</td>
          <td style="background-color:lightgreen;">{{appointment.status}}</td>
      </tr>
       <tr>
          <td></td>
            <td><br><button onclick="location.href='/reservation/edit/{{appointment._id}}'" class="button1">Edit</button>
               <button onclick="cancelReserv('{{appointment._id}}'); return false;" class="button1">Cancel</button></td>
        </tr>
  </table>
  </div>
  </div>
  <br>
  </main>
  <script src='/public/scripts/script_reservation_new.js'></script>
    <script>RefreshRestrict();</script>
</body>
</html> 